<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MassiveProjectMobileZWH.light"
        tools:targetApi="31">
        <activity
            android:name=".beranda.BerandaArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.TransaksiSudahStatusActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.TransaksiSudahActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.TransaksiFotoActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.TransaksiBelumStatusActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.TransaksiBelumActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.TransaksiListActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".profil.ProfilCameraActivity"
            android:exported="false" />
        <activity
            android:name=".profil.ProfilEditActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaChatActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaObrolanActivity"
            android:exported="false" />
        <activity
            android:name=".login.DaftarActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".login.MasukActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".login.SplashOptionActivity"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:exported="false" />
        <activity
            android:name=".profil.ProfilNotifActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileCameraActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".wallet.WalletPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".wallet.WalletHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".wallet.WalletListActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileNotifActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileHelpActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileAboutActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileListActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatConversationActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderDoneActivity"
            android:exported="false" />
        <activity
            android:name=".maps.MapsProcessActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".maps.MapsListActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderRegionActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaOrderSelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaProsesActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaCariActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaOrderActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaUpfotoActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaCameraActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaLokasiActivity"
            android:exported="false" />
        <activity
            android:name=".beranda.BerandaListActivity"
            android:exported="false" />
        <activity
            android:name=".dompet.BerandaTukarActivity"
            android:exported="false" />
        <activity
            android:name=".dompet.BerandaTukarSelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".dompet.BerandaTukarKonfrimActivity"
            android:exported="false" />
        <activity
            android:name=".wallet.WalletAddActivity"
            android:exported="false" />
        <activity
            android:name=".dompet.BerandaDompetActivity"
            android:exported="false" />
        <activity
            android:name=".profil.ProfilBantuanActivity"
            android:exported="false" />
        <activity
            android:name=".profil.ProfilTentangActivity"
            android:exported="false" />
        <activity
            android:name=".login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>