<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MassiveProjectMobileZWH"
        tools:targetApi="31">
        <activity
            android:name=".ProfileCameraActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".WalletPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".WalletHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".WalletListActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileNotifActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileAboutActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileListActivity"
            android:exported="false" />
        <activity
            android:name=".ChatConversationActivity"
            android:exported="false" />
        <activity
            android:name=".ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDoneActivity"
            android:exported="false" />
        <activity
            android:name=".MapsProcessActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MapsListActivity"
            android:exported="false" />
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".OrderRegionActivity"
            android:exported="false" />
        <activity
            android:name=".OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputSelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputKonfirmasiActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputProsesActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputCariActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputUnggahActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputUpfotoActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaJemputPilihActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaRootActivity"
            android:exported="false" />
        <activity
            android:name=".TukarKoinActivity"
            android:exported="false" />
        <activity
            android:name=".TukarKoin3Activity"
            android:exported="false" />
        <activity
            android:name=".TukarKoin2Activity"
            android:exported="false" />
        <activity
            android:name=".TopUpKoinPengepulPembayaran"
            android:exported="false" />
        <activity
            android:name=".TupUpKoinActivity"
            android:exported="false" />
        <activity
            android:name=".DompetPengepulActivity"
            android:exported="false" />
        <activity
            android:name=".DompetActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profilepengguna.ProfilePengguna"
            android:exported="false" />
        <activity
            android:name=".activity.profilepengepul.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profilepengelola.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>